<ng-container *ngIf="getCartDetails.length !=0">
<div class="card-table">
    <div class="card">
        <div class="card-title" >
           <h5>My Cart</h5> 
            <button class="btn btn-light" (click)="emptyCart()" style="right: 10px; position: absolute; margin-top: -33px; padding: 5px;">
                clrear Cart</button> 
        </div>
        
        
        <table class="table table-hover" style="position: absolute; top: 50px; left: 0px;">
            <thead>
                <tr>
                    <th><h6>SL.no</h6></th>
                    <th><h6>Image</h6></th>
                    <th><h6>Title</h6></th>
                    <th><h6>MRP</h6></th>
                    <th><h6>Quantity</h6></th>
                    <th><h6>total</h6></th>
                    <th><h6>Delete</h6></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of getCartDetails; let i = index">
                    <td style="width: 12%;">{{i+1}}</td>
                    <td ><img  alt="p1"> </td>
                    <td style="width: 12%;">{{item.title}}</td>
                    <td style="width: 12%;">$ {{item.price}}</td>
                    <td style="width: 20%;">
                        <button class="btn btn-primary" style="margin-right: 5px;"  (click)="incQnt(item.bookId, item.quantity)"><fa-icon [icon]="faPlus" style="font-size: 10px; padding: 5px;"></fa-icon></button>
                        {{item.quantity}}
                        <button class="btn btn-primary" style="margin-left: 5px;" (click)="decQnt(item.bookId, item.quantity)" ><fa-icon [icon]="faMinus" style="font-size: 10px; padding: 5px;"></fa-icon></button>
                    </td>
                    <td style="width: 12%;">$ {{item.price * item.quantity | number }}</td>
                    <td>
                     <button class="btn btn-danger" (click)="removeItem(item)"><fa-icon [icon]="faTrash" style="font-size: 20px; padding: 5px;"></fa-icon></button>   
                    </td>
                </tr>
                <tr >
                    <td colspan="4"></td>
                    <!-- <td ><button class="btn btn-primary" routerLink="/home">Shop more</button> </td> -->
                    <td style="width: 200px;"><strong>Grand total : $ {{grandTotal}}</strong></td>
                    <td ><button class="btn btn-success">Check out</button> </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</ng-container>



<ng-container *ngIf="getCartDetails.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title" >
                My Cart
            </h5>
        </div>
        <div class="center">
            <h4>Your Cart is empty!!</h4>
            
            <button class="btn btn-primary" (click)="startShoping()">shop now</button>
        </div>
    </div>
</ng-container>